@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*

NAV

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;
  max-width: 1150px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link,
.nav__link--white,
.nav__link--purple {
  text-decoration: none;
  font-size: 14px;
}

.nav__link {
  color: #243e63;
  margin: 0 24px;
  padding: 0 0 4px 0;
}

.nav__link--white {
  margin: 0 24px 0 48px;
  color: #243e63;
  padding: 0 0 4px 0;
}

.nav__link--purple {
  padding: 12px 32px;
  background-color: #6415ff;
  color: white;
  border-radius: 30px;
}

.logo__text {
  margin: 0 24px 0 0;
  padding: 0 0 4px 0;
  display: flex;
  align-items: center;
  color: #243e63;
  font-size: 24px;
  text-decoration: none;
}

.logo__dark{
  width: 36px;
  margin: 0 12px 0 0;
  padding: 0 0 4px 0;
}

.btn__menu{
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: center;
  color: #7342d6;
  display: none;
}

.menu__backdrop{
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
}

.menu--open .menu__backdrop{
  visibility: visible;
  opacity: 1;
}

.menu--open{
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.menu__list{
padding: 32px 0;
}

.menu__link{
  color: white;
  font-size: 40px;
}

.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}


/*

LANDING

*/

.column__container {
  display: flex;
  padding: 80px 0;
}

.column__container--left {
  width: 40%;
}

.column__right {
  width: 60%;
  padding-left: 16px;
}

h1 {
  font-size: 48px;
  color: #243e63;
}

.purple {
  color: rgb(100, 21, 255);
}

.p__column--left {
  font-size: 18px;
  padding: 32px 0;
  line-height: 1.5;
  color: #7c8ba1;
}

.input__container {
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0.212);
}

.email__input {
  border: none;
  font-size: 16px;
  padding: 20px 20px 20px 32px;
  background-color: transparent;
  width: 60%;
}

.btn__start {
  background-color: rgb(100, 21, 255);
  padding: 16px 0px;
  margin: 8px 8px 8px 0px;
  color: white;
  border: none;
  border-radius: 70px;
  width: 40%;
  font-size: 16px;
  font-weight: 700;
}

.para__customers {
  color: #a0aec0;
  font-weight: 700;
  font-size: 12px;
  margin: 80px 0 0;
}

.logo__img--strip {
  height: 26px;
  padding: 0 128px 0 0;
  margin: 16px 0 0 0;
  opacity: 50%;
}

/*

FEATURES

*/

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.feat__title {
  font-size: 16px;
}

.text__purple {
  color: #6415ff;
}

.subheader {
  margin-top: 24px;
  font-size: 48px;
  color: #243e63f3;
}

.service__para--large {
  margin: 24px 32px 36px;
  max-width: 576px;
  text-align: center;
  color: #7c8ba1;
  line-height: 32px;
  font-size: 18px;
}

.service__para--small {
  margin-top: 16px;
  line-height: 24px;
  font-size: 18px;
  color: #243e63c9;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 34px;
  align-items: top;
  justify-content: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
}

.service__container--small {
  margin: 8px 0 0 16px;
}

.img__wrapper {
  border: 1px solid rgba(0, 0, 0, 0.096);
  border-radius: 100%;
  width: 164px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*

QUALITY WORK

*/

#quality__work {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 80px 0;
}

.quality__img {
  max-width: 600px;
  border: 1px solid rgba(128, 128, 128, 0.253);
  border-radius: 10px;
}

.quality__img--wrapper {
  width: 100%;
}

.quality__header {
  color: #6415ff;
  font-size: 16px;
}

.quality__subheader {
  font-size: 48px;
  margin-top: 24px;
}

.quality__para {
  line-height: 32px;
  margin: 24px 0 32px;
  color: #7c8ba1;
  font-size: 18px;
}

.quality__btn--purple {
  color: white;
  background-color: #6415ff;
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 32px;
}

/*

STEPS

*/

#steps {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.steps__content--wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}


.steps__img {
  max-width: 600px;
}

.steps__text--container {
  margin-left: 64px;
}

.steps__header {
  color: #6415ff;
  font-size: 16px;
}

.steps__subheader {
  font-size: 48px;
  margin: 24px 0;
  color: #243e63;
}

.step__numbers {
  width: 64%;
}

.step {
  display: flex;
  line-height: 32px;
  margin-top: 24px;
}

.step__number {
  color: #c8d5ec;
  font-size: 36px;
}

.step__number--subheader {
  margin-bottom: 16px;
  font-size: 20px;
  color: #243e63;
}

.step__info {
  margin-left: 24px;
}

.step__number--para {
  color: #7c8ba1;
  font-size: 18px;
}

/* 

VALUES

*/

#values {
  padding: 80px 0;
}

.values__container {
  width: 50%;
  margin-right: 48px;
}

.values__header {
  color: #6415ff;
  font-size: 16px;
}

.values__subheader {
  margin-top: 24px;
}

.the__values {
  display: flex;
  margin-bottom: 24px;
}

.dollar__wrapper,
.briefcase__wrapper {
  border: transparent;
  width: 50px;
  border-radius: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollar__wrapper {
  background-color: rgb(188, 247, 188);
}

.briefcase__wrapper {
  background-color: rgb(255, 169, 169);
}

.svg__dollar {
  color: green;
}

.svg__briefcase {
  color: rgb(151, 21, 21);
}

.value__name {
  margin-left: 20px;
}

.values__para {
  margin: 24px 0 36px;
  color: #7c8ba1;
  line-height: 32px;
  font-size: 18px;
}

.value__top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.value {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.value__description {
  line-height: 28px;
  color: #718096;
}

.values__img {
  max-width: 600px;
}

.valuesimg__container {
  display: flex;
}

/*

PRICING

*/

#pricing{
  Padding: 80px 0;
}

.pricing__text {
  text-align: center;
}

.pricing__subtitle {
  margin: 24px 0;
}

.pricing__para {
  color: #7c8ba1;
  font-size: 18px;
  line-height: 1.625;
  max-width: 576px;
  margin: 0 auto;
}

.plans{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
}

.plan__wrapper,
.business__plan--wrapper{
  width: calc(30%);
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  max-width: 370px;
  margin: 14px;
}

.business__plan--wrapper{
  background-image: linear-gradient( 135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100% );
  color: white;
}


.personal__highlight,
.enterprise__highlight{
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.personal__highlight{
  background: linear-gradient(115deg, rgb(56,178,172)0%, rgb(129,230,217)100%);
}

.enterprise__highlight{
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
}

.plan__top,
.plan__middle,
.plan__bottom{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.plan__top{
  padding: 24px 0 36px;
  display: flex;
  border-bottom: 1px solid #e5e7eb;
}

.plan__type{
  margin-top: 36px;
}

.plan__type--bus{
  margin-top: 44px;
}

.plan__price{
  margin: 16px 0;
}

.plan__price--bus{
  color: white;
  margin: 16px 0;
}

.plan__term{
  color: #a0aec0;
}

.plan__middle{
  padding: 24px;
  display: flex;
}

.plan__description--bus,
.plan__description{
  font-size: 20px;
}

.plan__description{
  color: black;
}

.plan__info--bus,
.plan__info{
  margin-top: 32px;
}

.plan__info{
  color: #718096;
}

.plan__bottom{
  padding: 24px;
  border-top: 1px solid #e5e7eb;
}

.plan__btn--white,
.plan__btn--red,
.plan__btn--blue{
  margin: 24px 0 0;
  padding: 20px 75px;
  border-radius: 30px;
  border: transparent;
  color: white;
}

.plan__btn--blue{
background: linear-gradient(115deg, rgb(56,178,172)0%, rgb(129,230,217)100%);
}

.plan__btn--white{
background-color: white;
color: #6415ff;
}

.plan__btn--red{
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
}

/*

TESTIMONIALS

*/

#testimonials{
  padding: 80px 0;
}

.test__img--wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.test__img{
  width: 90%;
  margin-right: 90px;
}

.flex__container{
  display: flex;
}

.test__container{
  width: 80%;
  display: flex;
  flex-direction: column;
  
}

.para__title,
.subtitle{
  margin: 24px 0 0;
}

.test__para--small{
  margin: 24px 0 36px 0;
  line-height: 1.725;
  color: #6c7685;
  font-size: 18px;
}

.fa-solid{
  color: rgb(253, 186, 0);
}

.test__para--large{
  margin: 16px 0 40px;
  line-height: 1.725;
  color: #4a5568;
  font-size: 18px;
}

.test__person{
  display: flex;
  align-items: center;
}

.test__name{
  margin-bottom: 8px;
}

.test__job{
  color: #7c8ba1;
}

.test__person--img{
  height: 80px;
  width: 80px;
  border-radius: 100px;
  margin-right: 12px;
}

.test__arrows{
  display: flex;
}

.arrow__left,
.arrow__right{
  padding: 14px 15px 12px;
  border-radius: 100px;
  border: transparent;
}

.arrow__left{
  margin-left: 80px;
}

.vertical__line{
  border-right: 1px solid rgb(226, 232, 240);
  margin: 12px 8px;
  height: 20px;
}

.fa-solid.fa-arrow-left,
.fa-solid.fa-arrow-right{
  color: #6415ff;
  height: 16px;
  width: 16px;
}

/*

GET STARTED

*/

#get__started{
  padding: 80px 0;
}

.get__started--background{
  padding: 100px;
  background-color: #6415ff;
  border-radius: 8px;
}

.get__started--contents{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.get__started--text{
  color: white;
  font-size: 30px;
  font-weight: 700;
  max-width: 480px;
}

.start,
.contact{
  margin: 0 32px 0 0;
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.start{
  background-color: #f56565;
  border: transparent;
}

.contact{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.479);
}

/*

FOOTER

*/

.footer__container{
  padding: 98px 0;
  background-color: #6415ff;

}

.footer__wrapper{
  margin: 0 32px 0 32px;
}

.footer__nav--wrapper{
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  color: white;
}

.footer__link--row{
width: calc(20%);
}

.footer__subtitle{
  margin-bottom: 24px;
}

.link{
  margin-top: 12px;
  padding-bottom: 4px;
}

.footer__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #793bf5;
  margin-top: 64px;
  padding-top: 64px;
}

.logo__name--light{
 font-size: 24px;
 font-weight: 900;
 margin-left: 8px;
 color: #f7fafc;
}

.copyright{
color: #cbd580;
font-size: 16px;

}

.social{
background-color: #f7fafc;
color: #243e63;
border-radius: 100px;
height: 36px;
width: 36px;
cursor: pointer;
margin-right: 16px;
padding: 8px;
text-align: center;
}

.logo__light{
  height: 32px;
  width: 32px;
}

.socials,
.copyright,
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo{
  margin-right:calc(12%);
}

.socials{
  margin-left: calc(12%);
}

/* SMALL COMPUTERS */
@media(max-width: 1150px){

  nav{
    max-width: 768px;
  }

  .column__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column__container--left{
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input__container{
  max-width: 450px;
  width: 100%;
}

#quality__work{
  flex-direction: column;
  text-align: center;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.quality__btn--purple{
  margin-bottom: 40px;
}

.steps__content--wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.steps__subheader{
  margin-left: 60px;
}

.steps__img--wrapper {
  order: 1;
}

.steps__text--container {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 0;
}

.steps__header{
  margin-left: 60px;
}

.steps__img{
  padding-top: 50px;
  padding-left: 60px;
}

.values__container{
  margin: 0 auto;
}

.valuesimg__container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.values__img{
  margin-top: 40px;
}

.plans{
  flex-direction: column;
}

.business__plan--wrapper,
.plan__wrapper{
  width: calc(70%);
}

.flex__container{
  flex-direction: column;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.test__img{
  margin: 0 auto;
}

.test__container{
  margin: 0 auto;
}

.test__person{
  margin: 0 auto;
}

.get__started--buttons{
  display: flex;

}

.start,
.contact{
  align-items: center;
  margin-left: 32px;
}

.logo__img--strip{
  padding: 0;
}

.get__started--contents{
  display: flex;
  flex-direction: column;
}

.get__started--text{
  margin-bottom: 16px;
  text-align: center;
}
}


/*PHONES, TABLETS*/
@media(max-width: 768px){
  .nav__links{
    display: none;
}

.btn__menu{
    display: block;
}

.highlight{
    width: 100%;
}

.highlight:not(:last-child){
    margin-bottom: 24px;
}

.row{
  max-width: calc(80%);
}

.logo__img--strip{
  margin-bottom: 15px;
  padding: 0;
}

.subheader{
  text-align: center;
}

.service{
  width: calc(50%);
}

.steps__img,
.quality__img{
  max-width: calc(100%);
}

.the__values{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.valuesimg__container {
  text-align: center;
}

.values__para {
  text-align: center;
  margin: 0 auto;
  max-width: 120%; /* Adjust the width as needed */
}

.value__top{
  display: flex;
  justify-content: center;
  align-items: center;
}


.column__right{
  width: 100%;
}
}

@media(max-width: 640px){
  .service{
    width: calc(70%);
    text-align: center;
    margin: 0 auto;
    margin-left: 45px;

  }

  .values__subheader,
  .steps__subheader,
  .quality__subheader,
  .subheader,
  h1{
    font-size: 32px;
  }

  .values__img{
    width: 100%;
  }

  .footer__nav--wrapper{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer__link--row{
    width: calc(33%);
    margin-top: 35px;
    align-items: center;
    justify-content: center;
  }

  .footer__subtitle{
    font-size: 16px;
  }

  .link{
    font-size: 14px;
  }
}